{% extends "base_login.html" %}
{% load staticfiles %}
{% load i18n %}
{% block title %} GlucoseTracker {% endblock %}
{% block content %}
  <style>
      body {               
        margin:160px 0px; 
        padding:0px;
        background:  #DCDCDC;    
        font-size: 130%;
}
  </style>
  <div id="wrap">
     <div class="container">
         <div class="row">
             <div class="span3 hidden-phone"></div>
             <div class="span6" id="form-login">
                 <legend class="dw-text-bold"align="center"
                     style="font-size:230%; position: relative; top:-30px;">Inicie Sesión</legend>
                 <form action="" class="form-horizontal well" method="post">{% csrf_token %}
                     <fieldset>
                        <div class="control-group" align="center"
                            style="position:relative;">
                            <span class='glyphicon glyphicon-user'></span>
                            {{form.username}}
                        </div>
                        <div class="control-group" align="center"
                            style="position:relative;">
                            <div class="control-label"></div>
                            <div class="control input-prepend" align="center">
                                <span class='glyphicon glyphicon-wrench'></span>
                                {{form.password}}
                            </div>
                        </div> 
                        <div class="form-group">
                            <div class="control-label"></div>
                            <button type="submit" class="btn btn-primary  btn-block dw-text-bold">Sign In</button>
                            <span class="pull-right" ><a href=#">Register</a></span>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="span3 hidden-phone"></div>
        </div>
    </div>
    <div id="push"></div>
  </div>
{% endblock %}
